<extend name="Base/common"/>

<block name="header">
	<header class="jumbotron subhead" id="overview">
		<div class="container">
			<h2>网络安全知识竞赛-答题平台</h2>
			<p class="lead"></p>
		</div>
	</header>
</block>

<block name="body">
      <div class="span9">
        <!-- Contents
        ================================================== -->
        <section id="contents">
		<div  id="TTD"  class="tab-pane"><label>第21题：信息被隐藏，答案会在哪儿？</label><span  class="hk_score">分值:50</span><div  class="hk_T_description"><a href="./question/info.php" target="blank">通关地址</a><br>Tips:赶紧打开看看吧。</div>		
		<hr/>
	<form  class="form-horizontal"  method="POST"  action="">
			<div  class="control-group">
				<div  class="controls">
					<input  type="text"  id="TN"  name="TN"  placeholder="答案">
				</div>
			</div>
			<div  class="control-group">
				<div  class="controls">
					<button  class="btn hk_base_submit"  type="button"  value="TN">确认</button>
				</div>
			</div>
		<div  class="alert alert-success hk_tips hk_tips_TN"  style="display:none"></div>		</form>
	</div>
        </section>
      </div>
</block>