<extend name="Base/common"/>

<block name="header">
	<header class="jumbotron subhead" id="overview">
		<div class="container">
			<h2>网络安全知识竞赛-答题平台</h2>
			<p class="lead"></p>
		</div>
	</header>
</block>

<block name="body">
      <div class="span9">
        <!-- Contents
        ================================================== -->
        <section id="contents">
					<div  id="decode"  class="tab-pane"><label>第25题：小明碰到了一个难题，他正在hack一个网站，遇到一段加密程序，小明说就算你不会编程你也能看懂，他坚信你能帮他解密！解密出来的密码的字母部分就是答案。加油加油！</label><span  class="hk_score">分值:80</span><div  class="hk_T_description"><a href="./question/index_24.php" target="blank">喂！加密程序在这呢</a></div>		
		<hr/>
	<form  class="form-horizontal"  method="POST"  action="">
			<div  class="control-group">
				<div  class="controls">
					<input  type="text"  id="TD"  name="TD"  placeholder="答案">
				</div>
			</div>
			<div  class="control-group">
				<div  class="controls">
					<button  class="btn hk_base_submit"  type="button"  value="TD">确认</button>
				</div>
			</div>
		<div  class="alert alert-success hk_tips hk_tips_TD"  style="display:none"></div>		</form>
	</div>
        </section>
      </div>
</block>