<extend name="Base/common"/>
<block name="header">
	<header class="jumbotron subhead" id="overview">
		<div class="container">
			<h2>网络安全知识竞赛-答题平台
	</h2>
			<p class="lead"></p>
		</div>
	</header>
</block>
<block name="body">
      <div class="span9">
        <!-- Contents
        ================================================== -->
        <section id="contents">
		
		<div  id="script"  class="tab-pane"><label>第22题：小明想看小花的私密相册，可小花的相册有密码，帮帮他吧。</label><span  class="hk_score">分值:50</span>
		<div  class="hk_T_description"><a href="./question/photo.php" target="blank">小花的相册地址</a><br>Tips:密码就是答案，听说相册用JAVASCRIPT做验证。我只能帮你到这了。 ^_^。</div>		
		<hr/>
	<form  class="form-horizontal"  method="POST"  action="">
			<div  class="control-group">
				<div  class="controls">
					<input  type="text"  id="TS"  name="TS"  placeholder="答案">
				</div>
			</div>
			<div  class="control-group">
				<div  class="controls">
					<button  class="btn hk_base_submit"  type="button"  value="TS">确认</button>
				</div>
			</div>
		<div  class="alert alert-success hk_tips hk_tips_TS"  style="display:none"></div>		</form>
	</div>
			
				      

        </section>
      </div>
</block>