<extend name="Base/common"/>

<block name="header">
	<header class="jumbotron subhead" id="overview">
		<div class="container">
			<h2>网络安全知识竞赛-答题平台</h2>
			<p class="lead"></p>
		</div>
	</header>
</block>

<block name="body">
      <div class="span9">
        <!-- Contents
        ================================================== -->
        <section id="contents">
					<div  id="upload"  class="tab-pane"><label>第24题：因WINDOWS 2003平台IIS6的原因，存在目录名问题引起的上传漏洞攻击。(微软的IIS6存在严重解析文件名错误）</label><span  class="hk_score">分值:50</span><div  class="hk_T_description">如果某站存在ASP上传漏洞，上传后文件为hack.jpg，该文件被当作ASP文件处理，则该文件URL中文件名的前面5个字符依次为？</div>		
		<hr/>
	<form  class="form-horizontal"  method="POST"  action="">
			<div  class="control-group">
				<div  class="controls">
					<input  type="text"  id="TU"  name="TU"  placeholder="答案">
				</div>
			</div>
			<div  class="control-group">
				<div  class="controls">
					<button  class="btn hk_base_submit"  type="button"  value="TU">确认</button>
				</div>
			</div>
		<div  class="alert alert-success hk_tips hk_tips_TU"  style="display:none"></div>		</form>
	</div>
        </section>
      </div>
</block>